
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<title>Plumber1300</title>

		<!-- Meta tags -->
		<meta name="description" content="Main page for 1300 PLUMBER" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>

		<!-- Don't forget to update the bookmark icons in root: http://mathiasbynens.be/notes/touch-icons -->

		<!-- CSS -->
		
		
		<!-- JavaScript -->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<style type="text/css">
	      body {
	        padding-top: 30px;
	        padding-bottom: 20px;
	      }

	      h5 {
	      	color:#919090;
	      }
	      h4 {
	      	color:#060080;
	      }
	      p {
	      	font-size:90%;
	      	text-align:justify;
			text-justify:inter-word;
	      }
	      a:hover
		  {
		  	text-decoration:none;
		   	background-color:transparent;
		  }
		  	

	  </style>

	  <style type="text/css" media="screen">
	    /*to be delete .slides_container {
	                width:570px;
	                height:270px;
	            } */      
	    .slides_container div {
	        height:150px;
	        display:block;
	    }
	  </style>

  	  <script>
        $(function(){
            $("#slides").slides({
				preload: true,
				generateNextPrev: false,
				generatePagination: false,
				play: 3000,
				pause: 500,
				hoverPause: true,
				slideSpeed: 350,
				effect: 'slide, fade',
				crossfade: true			
			});
        });

        function menuTopOnclick(clicked) 
		{
			window.location.href = clicked;
		}
   	  </script>

	</head>
	<body style="background: -webkit-linear-gradient(260deg, #e8f3fe  0%,white 100%);">

			<%= image_tag("logo.jpg", :alt => "Logo") %>


		<div class="group" style="font-weight:bold;">
			<button id="menutop" onclick="return menuTopOnclick('/home')">Home</button>
			<button id="menutop" onclick="return menuTopOnclick('/aboutus')">About Us</button>
			<button id="menutop" onclick="return menuTopOnclick('/home')">Customer Section</button>
			<button id="menutop" onclick="return menuTopOnclick('/plumber')">Plumbers Section</button>
			<button id="menutop" onclick="return menuTopOnclick('/diytutorials')">DIY Tutorials</button>
			<button id="menutop" onclick="return menuTopOnclick('/home')">Promotions</button>
			<button id="menutop" onclick="return menuTopOnclick('/contactus')">Contact Us</button>
		</div>

		<div class="group">
			<div id="slides">
				<div class="slides_container">
					<div><%= image_tag("image1.jpg", :alt => "animate1") %></div>
					<div><%= image_tag("image2.jpg", :alt => "animate2") %></div>
					<div><%= image_tag("image3.jpg", :alt => "animate3") %></div>
					<div><%= image_tag("image4.jpg", :alt => "animate4") %></div>
					<div><%= image_tag("image5.jpg", :alt => "animate5") %></div>
					<div><%= image_tag("image6.jpg", :alt => "animate6") %></div>
				</div>
			</div>
		</div>


		<div class="group">

			<article>
				<%= yield %>
			</article>
		</div>
		

		<div>
			<div class="group" style="list-style-type:none;margin:0;padding:0;margin:10px;">
				<div class="group">
					<button id="menubottom" onclick="return menuTopOnclick('/home')">Home</button>
					<button id="menubottom" onclick="return menuTopOnclick('/aboutus')">About Us</button>
					<button id="menubottom" onclick="return menuTopOnclick('/home')">Customer Section</button>
					<button id="menubottom" onclick="return menuTopOnclick('/plumber')">Plumbers Section</button>
					<button id="menubottom" onclick="return menuTopOnclick('/diytutorials')">DIY Tutorials</button>
					<button id="menubottom" onclick="return menuTopOnclick('/home')">Promotions</button>
					<button id="menubottom" onclick="return menuTopOnclick('/contactus')">Contact Us</button>
				</div>
			</div>
		</div>

	</body>
</html>