<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plumber1300</title>
  <link href="./css/bootstrap.css" rel="stylesheet">
  <link href="./css/bootstrap-responsive.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 30px;
        padding-bottom: 20px;
      }
  </style>
  <style type="text/css" media="screen">
    /*to be delete .slides_container {
                width:570px;
                height:270px;
            } */      
    .slides_container div {
        height:150px;
        display:block;
    }
  </style>

  <script>
        $(function(){
            $("#slides").slides({
				preload: true,
				generateNextPrev: false,
				generatePagination: false,
				play: 2000,
				pause: 500,
				hoverPause: true,
				slideSpeed: 350,
				effect: 'slide, fade',
				crossfade: true			
			});
        });
   </script>
</head>
<body>

<div class="row-fluid">
  <div class="span10 offset1" style="background: -webkit-linear-gradient(100deg, #2ECCFA 0%,#084B8A 100%); ">
  	<!--<div class="span10 offset1" style="background:green;">-->

  		<div class="row-fluid">
		  <div class="span10 offset1"></div>
		</div>

		<div class="row-fluid">
		  <div class="span5 offset1">
		  	<%= image_tag("logo.jpg", :alt => "Logo") %>
		  </div>	
		  </br>
		  <div class="span4 offset1"> 

		  	<div class="row-fluid">
		  		<div class="span10 offset1"></div>
			</div>


		  	<div class="navbar">
		      <div class="navbar-inner">
		        <div class="container">
		          <div class="nav-collapse collapse">
		            <ul class="nav">
		              <li><a href="#signin">Sign In</a></li>
		              <li><a href="#regno">Register Now</a></li>
		              <li><a href="#faq">FAQ</a></li>
		              <li><a href="#feedback">Feedback</a></li>		              
		            </ul>
		          </div>
		        </div>
		      </div>
		    </div>

		  </div>
		</div>


		<div class="row-fluid">
		  <div class="span10 offset1">

		  	<div class="navbar">
		      <div class="navbar-inner">
		        <div class="container" style="float: center;">
		          <div class="nav-collapse collapse">
		            <ul class="nav">
		              <li><a href="/home">Home</a></li>
		              <li><a href="/aboutus">About Us</a></li>
		              <li><a href="#searchPlumber">Customer Section</a></li>
		              <li><a href="#plumbersSection">Plumbers Section</a></li>		
		              <li><a href="/diytutorials">DIY Tutorials</a></li>
		              <li><a href="#promotions">Promotions</a></li>	
		              <li><a href="/contactus">Contact Us</a></li>		              
		            </ul>
		          </div>
		        </div>
		      </div>
		    </div>

		  </div>
		</div>

		<div class="row-fluid">
		  <div class="span10 offset1">
		  	<div id="slides">
				<div class="slides_container">
					<div><%= image_tag("image1.jpg", :alt => "animate1") %></div>
					<div><%= image_tag("image2.jpg", :alt => "animate2") %></div>
					<div><%= image_tag("image3.jpg", :alt => "animate3") %></div>
					<div><%= image_tag("image4.jpg", :alt => "animate4") %></div>
					<div><%= image_tag("image5.jpg", :alt => "animate5") %></div>
					<div><%= image_tag("image6.jpg", :alt => "animate6") %></div>
				</div>
			</div>

		  </div>
		</div>

		<div class="row-fluid">
		  	<div class="span10 offset1"></div>
		</div>

		<%= yield %>

		

		<div class="row-fluid">
		  <div class="span10 offset1"></div>
		</div>

		<div class="row-fluid">
		 <div class="span10 offset1">

		 	<div >		     
	            <ul style="list-style-type:none;margin:0;padding:0;">
	              <li style="display:inline;"><a href="/home">Home</a></li> <b>| </b>
	              <li style="display:inline;"><a href="/aboutus">About Us</a></li> <b>| </b>
	              <li style="display:inline;"><a href="#searchPlumber">Customer Section</a></li> <b>| </b>
	              <li style="display:inline;"><a href="#plumbersSection">Plumbers Section</a></li> <b>| </b>		
	              <li style="display:inline;"><a href="/diytutorials">DIY Tutorials</a></li> <b>| </b>
	              <li style="display:inline;"><a href="#promo">Promotions</a></li> <b>| </b>	
	              <li style="display:inline;"><a href="/contactus">Contact Us</a></li>		              
	            </ul>		          
		    </div>

		 </div>
		</div>

		<div class="row-fluid">
		  <div class="span10 offset1"></div>
		</div>
		

  	<!--</div>-->
  </div>
</div>





</body>
</html>
