<div style="padding-right:2em;">
	<fieldset>
		<legend><h4>How it Works</h4></legend>
	  		<table>
	  			<tr>
	  				<td>
	  					<%= image_tag("imgOne.jpg", :alt => "Step one") %>
	  				</td>
	  				<td>
	  					<p>Got plumbing problems? Hot water service blown up? Blocked toilet? Leaking pipes?</p>
	  				</td>
	  				<td>
	  					<%= image_tag("imgProblem.jpg", :alt => "Step one") %>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>
	  					<%= image_tag("imgTwo.jpg", :alt => "Step two") %>
	  				</td>
	  				<td>
	  					<p>Call 1300 PLUMBER and enter your postcode.</p>
	  				</td>
	  				<td>
	  					<%= image_tag("imgCallPlumber.jpg", :alt => "Step one") %>
	  				</td>
	  			</tr>	 
	  			<tr>
	  				<td>
	  					<%= image_tag("imgThree.jpg", :alt => "Step three") %>
	  				</td>
	  				<td>
	  					<p>Get connected to a local plumber that services your area!</p>
	  				</td>
	  				<td>
	  					<%= image_tag("imgVan.jpg", :alt => "Step one") %>
	  				</td>
	  			</tr>	   			
	  		</table>	  
		</form>
	</fieldset>
</div>