<div class="group">	
  <article id="intro" style="width:60%;padding-top:1.5em">

	<h2> The magic word: 1300 PLUMBER </h2>
	<p>Successful advertising is based on the principle that in order to remember something you have to see and hear it over and over again. This can be very expensive to accomplish. The advantage of having an easily remembered phone number is that less repeat advertising is needed to get your point across. Once someone sees or hears the 1300 PLUMBER phone number, they don't forget it.</p>

	<h2> National Advertising Products </h2>
	<p>Creating brand awareness for your company's name with 1300 PLUMBER as a sub-brand should be the marketing goal for your advertising. <br />
	To help spread the 1300 PLUMBER brand, the following advertising materials are supplied exclusively to subscribers free of charge as part of your advertising pack:</p>

	<h3>Vehicle Signs</h3>
	<div class="group">	
		<article id="intro" style="width:60%;padding-top:1.5em">
			<p>During peak hour traffic, in the parking lot or in a driveway, the 1300 PLUMBER vehicle signs are an effective and powerful form of advertising. Turn your vehicle into a rolling billboard, building brand awareness for your company with every trip. Your car, ute, van or your entire fleet can be advertising for you at all hours of the day and night.</p>

			<p>The 1300 PLUMBER vehicle signs can even safely cover the glass and windows, allowing the driver and other individuals inside the vehicle to see out while those outside see your 1300 PLUMBER advertising.</p>
			
		</article>
		<section id="demo" style="width:30%;">
			<%= image_tag("imgVanBack.jpg", :alt => "Van Back") %>
			<%= image_tag("imgVanSide1.jpg", :alt => "Van Side") %>			
		</section>
	</div>

	<h3>Reflective Vehicle Magnets</h3>
	<div class="group">		
		<article id="intro" style="width:40%;padding-top:1.5em">
			<%= image_tag("imgVanMagnet.jpg", :alt => "Magnets") %>		
		</article>
		<section id="demo" style="width:50%;">
			<p>This form of advertising will no doubt attract more business when you're on the road. A fantastic way to promote your business in your local area.</p>

			<p>The beauty of vehicle magnets is that after hours or when the weekend comes around, simply remove your vehicle magnets and enjoy your privacy.</p>	
		</section>
	</div>

	<h3>Caps</h3>
	<div class="group">		
		<article id="intro" style="width:60%;padding-top:1.5em">
			<p>Promotional caps are also a great way to advertise. They help build awareness, and keep the 1300 PLUMBER brand at the top of customers' minds (literally!).</p>

			<p>Caps will give you a head start on the competition, reinforcing your marketing wherever they are worn - without you having to spend a cent!</p>					
		</article>
		<section id="demo" style="width:30%;">
			<%= image_tag("imgCap.jpg", :alt => "Cap") %>
				
		</section>
	</div>

	<h3>Refrigerator Magnets</h3>
	<div class="group">		
		<article id="intro" style="width:50%;padding-top:1.5em">
			<%= image_tag("imgFridgeMagnet.jpg", :alt => "Fridge Magnets") %>								
		</article>
		<section id="demo" style="width:40%;">
			<p>Fridge magnet advertising is a unique way to increase exposure, boost name recognition, and motivate action. It simply outperforms virtually any other type of advertising, hands down.</p>

			<p>A study discovered that the average family opens and closes their refrigerator 25 times a day, which represent nearly 10,000 impressions per year. This is why the promotional magnet is the 'most effective' promotional item available.</p>				
		</section>
	</div>

	<h3>Bumper Stickers</h3>
	<div class="group">		
		<article id="intro" style="width:30%;padding-top:1.5em">
			<%= image_tag("imgBumperStickersLeft.gif", :alt => "Bumper Stickers") %>								
		</article>
		<section id="demo" style="width:60%;">

			<div class="group">		
				<article id="intro" style="width:40%;padding-top:1.5em">
					<p>1300 PLUMBER bumper stickers, (similar to vehicle signage), are an effective means of advertising. We use a little humour to help people remember our brand and spread our brand via word of mouth.</p>						
				</article>
				<section id="demo" style="width:50%;">
					<%= image_tag("imgPumperStickersRight.gif", :alt => "Bumber Stickers") %>				
				</section>
			</div>


			
			
						
		</section>
	</div>


  </article>	

	<section id="demo" style="width:30%;padding-top:3em">
   	  <%= render 'findpostcode' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
 	</section>
</div>

<%= render 'promotion' %>