<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <h2>Caller Rates (TBA)</h2>

      <div class="group">
        <article id="intro" style="width:60%;padding-top:1.5em">
          <p>
           As you may already be aware, with a 1300 phone number service, all calls incur a shared-use cost between you and your customer. Costs vary depending on whether the customer has called you using a mobile phone or a fixed landline, and whether you answer using a mobile or landline.
          </p>
          <p>
            As sophisticated 'shared-use' technology is expensive to build and maintain on a national basis, a minimum call spend per month will apply. Also a call connection fee may apply per call. (Costs to be advised)

            When considering the cost per call, also consider how much profit you make per job. In comparison the call cost becomes insignificant
          </p> 
          
        </article>
        <section id="demo" style="width:30%;padding-top:3em">           
          <%= image_tag("imgCallGirl.jpg", :alt => "Call Girl") %>
        </section>
      </div>

      <div class="group">
        <article id="intro" style="width:90%;padding-top:1.5em">
          <%= image_tag("imgLandPhone.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgArror.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgLandPhone.jpg", :alt => "Call Girl") %>
          <p>
            Customer calls from landline and plumber answers on a landline. Per minute call charges to be advised.
          </p>
        </article>        
      </div>

      <div class="group">
        <article id="intro" style="width:90%;padding-top:1.5em">
          <%= image_tag("imgLandPhone.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgArror.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgHandPhone.jpg", :alt => "Call Girl") %>
          <p>
            Customer calls from landline and plumber answers on a mobile. Per minute call charges to be advised.
          </p> 
        </article>        
      </div>

      <div class="group">
        <article id="intro" style="width:90%;padding-top:1.5em">
          <%= image_tag("imgHandPhone.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgArror.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgLandPhone.jpg", :alt => "Call Girl") %>
          <p>
            Customer calls from mobile and plumber answers on a landline. Per minute call charges to be advised.
          </p>
        </article>        
      </div>

       <div class="group">
        <article id="intro" style="width:90%;padding-top:1.5em">
          <%= image_tag("imgHandPhone.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgArror.jpg", :alt => "Call Girl") %>
          <%= image_tag("imgHandPhone.jpg", :alt => "Call Girl") %>
          <p>
            Customer calls from mobile and plumber answers on a mobile. Per minute call charges to be advised.
          </p> 
        </article>
      </div>

    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findpostcode' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
    </section>
</div>    

<%= render 'promotion' %>