<div class="group">	
  <article id="intro" style="width:60%;padding-top:1.5em">
  	<h2>Contact 1300 Plumber </h2> 
  	<p>
  		<%= image_tag("contactUs_phone.png", :alt => "Phone") %> Phone: 1300PLUMBER OR 1300 758 623
  	</p>
  	<p>
  		<%= image_tag("contactUs_email.png", :alt => "email") %> email: mark@1300plumber.net.au
  	</p>

  	<%= render 'howitworksWF' %>
 	
 </article>

 <section id="demo" style="width:30%;padding-top:3em">
   <%= render 'findplumber' %>
   <%= render 'howitworksIVR' %>
 </section>

 </div>

<%= render 'promotion' %>