<div class="group">
  <article id="intro" style="width:60%;padding-top:1.5em">

	<h2>Plumber FAQs</h2>
	
  	<h5>What is 1300 PLUMBER?</h5>
	<p>1300 PLUMBER is Australia's fastest growing connection service for  local, independent plumbers. 1300 PLUMBER is not a franchise, and not  just a phone number. All plumbers subscribed to the network control the  rights to the number in their area and are supplied with an <a href="/plumber/advertising" style="text-decoration:underline;">advertising pack</a> to help 'kick start' enquiries.</p>

	<h5>Just what do I get when I sign up for 1300 PLUMBER?</h5>
	<p>When  you <a href="/newuser" style="text-decoration:underline;">sign up</a> for 1300 PLUMBER, you gain exclusive access to Australia's  most powerful plumbing phone number in your area. You also receive  an <a href="/plumber/advertising" style="text-decoration:underline;">advertising pack</a>, free of charge.</p>


	<h5>How many subscribers will there be in a given postcode?</h5>
	<p>Depending on demographics there can only be a maximum of 3 local plumbers per postcode to ensure customers get a quick turnaround time. Some postcodes will only have 1 or 2 plumbers allocated.</p>

	<h5>What does it cost to subscribe to the 1300 PLUMBER service?</h5>

	<p>The price to subscribe to 1300 PLUMBER varies substantially, depending  on your desired postcode(s). The population of a particular postcode is  the major factor influencing its price. In short, the lower the  population of a postcode, the lower its price. Working class areas or  affluent areas have absolutely no bearing on price. Due to strong demand, the Central Business District (CBD) in each capital city is priced at a premium. To view pricing, please visit our <a href="/newuser" style="text-decoration:underline;">registration/pricing</a> section.</p>

	<p>The only other cost associated with the 1300 PLUMBER service is the  <a href="/plumber/callrates" style="text-decoration:underline;">inbound phone calls</a>.  All calls generated from 1300 PLUMBER will be billed separately on a monthly basis. Again, this cost varies depending on the number of  inbound calls you receive. </p>


	<h5>What if another plumber has already subscribed to my desired postcode?</h5>

	<p>As there is total  exclusivity to each and every postcode, the only option left is to register  your details on our 'waiting list'. If the current subscriber surrenders their  subscription, or their subscription is taken away from them, the next plumbing business on the waiting list will be offered that area. To be placed on the waiting list, follow the <a href="/newuser" style="text-decoration:underline;">registration</a> process by entering your desired postcode, then click on the waiting list link.</p>


	<h5>How is 1300 PLUMBER advertised?</h5>

	<p>As a 1300 PLUMBER subscriber, you receive an <a href="/plumber/advertising" style="text-decoration:underline;">advertising pack</a> 'free of charge' (valued at $1420). 
  	The <a href="/plumber/advertising" style="text-decoration:underline;">advertising  pack</a> has been designed after extensive research was conducted to figure  out what makes people tick when it comes to choosing a plumber.</p>


	<h5>How is 1300 PLUMBER marketed?</h5>
	<p>You decide on the level of marketing for your area. You simply include the 1300  PLUMBER logo as a co-brand to your existing business name and phone  number(s). </p>
	<p>The main  objective is for you to capture new local business, business you may not neccesarily have captured. As 1300 PLUMBER is easy to remember, it will always be 'first in mind' for  when people require a plumber. They will simply pick up the phone, not the phone book, and call you!</p>


	<h5>Do I have to change my business name?</h5>
	<p>No. 1300 PLUMBER is  simply an additional telephone number people can call you on to help capture  additional business you may not have necessarily acquired. You can promote your  company name simultaneously with the phone number.</p>

	<h5>What is the cost of advertising?</h5>
	<p>You determine how  much and where you want to spend money promoting your services, but now you  have 'the ultimate marketing weapon' to make your advertising dollars work  much harder for you. 1300 PLUMBER service will also advertise in addition to your marketing.</p>

	<h5>How can I get started?</h5>
	<p><a href="newuser" style="text-decoration:underline;"><span>Click Here</span></a> to register your interest for your desired postcode, or call us on 1300 697 267 and we can bring 1300 PLUMBER to life in your postcode in no time at all!</p>


	<h5>Is this a franchise?</h5>
	<p>No, but we consider  1300 PLUMBER as the &quot;affordable alternative&quot; to a franchise,&nbsp;  without the large investment that many organizations require to get involved.</p>


	<h5>Where will calls dialed to 1300 PLUMBER in my subscription postcode  ring?</h5>
	<p>Directly into your  office or mobile phone! It's your choice. The comprehensive telephone routing  system delivers calls directly to you depending on the desired postcode of the  caller. So your customers can receive the same great service with a number they  can't forget!</p>


	<h5>Does subscribing to 1300 PLUMBER mean you're franchising-away the name  and control of your business?</h5>
	<p>Not at all. 1300  PLUMBER is a mutual-benefit marketing system, not a franchise. You stay in  complete charge of your business. Unlike a franchise, we don't charge you  hundreds of thousands of dollars to join, or even an &quot;off-the-top&quot; slice of  your profits.</p>


	<h5>Do I have to change my telephone number and service provider?</h5>
	<p>Of course not. Your  current telephone number/s all remain the same. 1300 PLUMBER is simply an  additional telephone number customers can call to reach you. The relationship you have with your current telecommunications provider remains the same.</p>

	<h5>Am I protected at the end of my subscription term that the price will be  capped?</h5>
	<p>Yes. Once you have  signed the agreement, the price is locked in according to the terms and  conditions, irrespective if current market values have increased upon renewal.  Subscribing to the 1300 PLUMBER service guarantees you peace of mind, not  surprises at the end of your agreement.</p>


	<h5>Why is this better than the telephone directory or the local newspaper trades  guide?</h5>
	<p>With a memorable  number like 1300 PLUMBER, customers will call you first, without going to the telephone directory or local newspaper. So there is less chance that they will shop  the competition. Also, this number can be used in conjunction with your telephone directory ad to help promote your company name as the 1300 PLUMBER company in your  area.</p>


	<h5>How long can I keep using 1300 PLUMBER?</h5>
	<p>The number is exclusively yours as long as you maintain your account in  good standing. All <a href="/plumber/fineprint" style="text-decoration:underline;">agreements</a> are for a minimum 12 month period, automatically  renewing at the end of the term (for your protection). During the  entire period, you enjoy all the benefits 1300 PLUMBER provides, and  all of your competitors will miss out!</p>


	<h5>How does this affect branding?</h5>
	<p>gain, you control it  because you get to promote your company name simultaneously with the phone number.&nbsp;  As 1300 PLUMBER becomes known all over the country the value to your business  will continue to increase.</p>

	<h5>Do I need a new telephone line and additional software or hardware?</h5>
	<p>gaNo. Calls are simply  delivered to your current number on the phone of your choice. It may be to your  mobile phone, your office phone or even your home phone. Therefore, there is no  need for a new telephone line, software or hardware.</p>


  </article>	
  
  <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findpostcode' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
  </section>
  

</div>

<%= render 'promotion' %>