<div class="group">

    <article id="intro" style="width:60%;padding-top:3.5em">
      <h2>How It Works </h2>

    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findpostcode' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
    </section>


</div>    

<%= render 'promotion' %>