<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <h2>Significant Member Benefits</h2>
      
      <table>
        <tr>
          <td width="20%"><%= image_tag("imgPlumberGold.jpg", :alt => "Benefits") %></td>
          <td>
            <p>1300 PLUMBER can deliver significant benefits, both short and long term. Depending on your circumstances, you can decide to make more money, save more money, take more time off, increase the value of your business (or all of the above!)  </p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberLogo.jpg", :alt => "The Unfair Advantage") %></td>
          <td>
            <h4>AUSTRALIAS MOST POWERFUL PLUMBING PHONE NUMBER</h4>
            <p>1300 PLUMBER is not just an unforgettable phone number, it's the ultimate marketing weapon that will help crush your competition. It is the easiest number for your customers to remember and recommend. It will also help boost all of your advertising response rates and help strengthen customer loyalty.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberTV.jpg", :alt => "Be Seen On TV") %></td>
          <td>
            <h4>BE SEEN ON TV</h4>
            <p>Your business will be seen in advertisements on National Television now!</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberGuide.jpg", :alt => "The Unfair Advantage") %></td>
          <td>
            <h4>THE UNFAIR ADVANTAGE</h4>
            <p>Only 2 plumbing companies can use the 1300 PLUMBER service per postcode in some instances only 1 plumber to a postcode. You control the use of the number exclusively and all other plumbers in the area miss out. This is to ensure a customer talks to a live plumber each time. However if a customer calls next time they are routed to you first every other time, unless they want to change.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberProductivity.jpg", :alt => "Improve Productivity") %></td>
          <td>
            <h4>IMPROVE PRODUCTIVITY</h4>
            <p>The 1300 PLUMBER connection service is designed  to receive all telephone leads from within your local area. This improves  productivity and minimises travel downtime.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberSave.jpg", :alt => "Save Money") %></td>
          <td>
            <h4>SAVE MONEY</h4>
            <p>Not only will you save money on fuel costs, you  won't need to advertise in the local newspaper or telephone directory as much. As most  people remember a Phone Word (such as 1300 PLUMBER), advertising results  continue to come in even months after the advertising campaign is finished.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberMoney.jpg", :alt => "Increase Profitability") %></td>
          <td>
            <h4>INCREASE PROFITABILITY</h4>
            <p>Time is money. With the extra time you can save  by concentrating on work in your local area, the more jobs you can complete.  The more jobs you do, the increase in number of billable hours you can invoice.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberFuel.jpg", :alt => "Save Money On Fuel Costs") %></td>
          <td>
            <h4>SAVE MONEY ON FUEL COSTS</h4>
            <p>1300 PLUMBER generates work in your local area.  Instead of travelling large distances between jobs, each job is located within  close proximity. With the rising costs of fuel, a significant amount of money  can be saved each month.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberMouth.jpg", :alt => "Supercharge Your Word of Mouth") %></td>
          <td>
            <h4>SUPERCHARGE YOUR WORD OF  MOUTH</h4>
            <p>Plumbers who are reliable, take pride in their  workmanship and provide value for money usually receive most of their business  through word of mouth. You make it simple and easy for your customers to  recommend you to others, as all they have to remember is the phone number 1300  PLUMBER!</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberLogo.jpg", :alt => "1300 PLUMBER Logo") %></td>
          <td>
            <h4>STATUS IS PRICELESS</h4>
            <p>As a 1300 PLUMBER subscriber, your reputation in the marketplace  escalates to a new level. People see our brand and know that our network of plumbers are trustworthy and professional. Not only do you have a greater chance  of getting more jobs, but many consumers are even prepared to pay a  premium because they associate our 1300 PLUMBER brand with quality.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberSales.jpg", :alt => "Fast Track Company Growth") %></td>
          <td>
            <h4>PLUMBER IS YOUR SALES FORCE</h4>
            <p>Sales fixes everything. This is where 1300  PLUMBER can help fast track your company's growth. The more leads 1300 PLUMBER  generates, the more jobs it creates and the larger your company grows, allowing you to concentrate on your core business!</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberBoss.jpg", :alt => "Show Em Whos Boss") %></td>
          <td>
            <h4>SHOW EM' WHO'S BOSS!</h4>
            <p>The entrepreneurial plumber typically works 'ON'  his business, growing and expanding it, rather than getting caught up in the  day-to-day running of working 'IN' the business. Leverage your skills and  expertise by delegating jobs to new staff and grow, grow, grow!</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberTime.jpg", :alt => "Save Time") %></td>
          <td>
            <h4>SAVE TIME AND RELAX</h4>
            <p>You may decide to take the lazy option and work  less hours, and make the same amount of money you currently make (due to  improved efficiencies i.e. less travel downtime and an increased number of  billable hours). Maybe now you can begin working a 4-day week, spend more time  with your family or even take a holiday!</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberSmart.jpg", :alt => "Work Smarter, Not Harder") %></td>
          <td>
            <h4>WORK SMARTER, NOT HARDER</h4>
            <p>1300 PLUMBER is like a franchise without the  enormous fees. You do not pay an 'off the top' slice of your profits. You don't even need to financially contribute to an advertising fund. It is simply a connection service where you stay in complete charge of your  business</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberGoodwill.jpg", :alt => "ncrease Your Company's Goodwill") %></td>
          <td>
            <h4>INCREASE YOUR COMPANY'S  GOODWILL</h4>
            <p>Your business is no longer reliant on you as an individual. Including the 1300 PLUMBER brand to your business will associate the business with a growing household name, therefore taking the pressure off you, and increasing the value of your business should you decide to sell. The more jobs  captured from 1300 PLUMBER, the more valuable your business becomes.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberLock.jpg", :alt => "Long Term Security") %></td>
          <td>
            <h4>LONG TERM SECURITY</h4>
            <p>Once you have secured the rights to 1300 PLUMBER  for your postcode, you control them for as long as you like. There is an  initial 12-month agreement, however, after that you will always get the first  option to renew each and every year. Also, the price is protected and can never be increased outside of the terms of the contract.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberFuture.jpg", :alt => "Protect Your Future") %></td>
          <td>
            <h4>PROTECT YOUR FUTURE</h4>
            <p>In today's ever-changing economy, it is very  important to plan for the future. If the economy has a long-term downturn, you  have the peace of mind knowing that you can compete in a new, fierce  environment for years to come.</p>
          </td>
        </tr>

        <tr>
          <td><%= image_tag("imgPlumberNetwork.jpg", :alt => "National Brandr") %></td>
          <td>
            <h4>STRENGTH IN NUMBERS</h4>
            <p>1300 PLUMBER will provide an effective way for you to join our powerful  network of plumbers all dedicated to jointly building and promoting an  easily recognisable brand. With our &quot;strength in numbers&quot; philosophy,  you will benefit from your own advertising efforts, and also benefit as  a result of advertising efforts from the entire national network.</p>
          </td>
        </tr>
      </table>

    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findpostcode' %>
    </section>


</div>    

<%= render 'promotion' %>