<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <span style="float: left;margin-right:2em;"> 
        <img src="/assets/imgPrivacy.jpg" />
      </span>
      
      <p>1300 PLUMBER considers the privacy and security of users of our  website to be of paramount importance. We have developed this privacy  policy to communicate our commitment that we will keep the information  we obtain private and secure. 1300 PLUMBER is the sole owner of this  information collected on this site. We will not sell, share, or rent  this information to others in any manner other than that which is  disclosed in this policy.</p>
      <p>1300 PLUMBER will take all reasonable measures to ensure personal information        in its possession or control is protected against loss, unauthorised access,        use, modification or disclosure. We will ensure the staff dealing with personal       information are made aware of, and undertake in writing to observe the National       Privacy Principles.</p>
      <h3>Collection</h3>
      <p>The  main way 1300 PLUMBER collects personal information is through forms  provided on our web site. The information is required when a user  wishes to pursue a business relationship with 1300 PLUMBER such as  receiving a quotation or product information or entering into a  contest. This information is collected and stored in a secure password  protected database. If you give us permission, we may use the  information to make you aware of additional products or services that  may be of interest, or to contact you regarding changes to the  websites. We may also ask you for other information, such as  information on your interests and your likes and dislikes with regards  to the site in our endeavour to deliver high quality service that  better addresses your needs. </p>
      <p>1300 PLUMBER will not disclose a  user's personal information to any unrelated third party except when  the third party is helping us to pursue a business relationship  initiated by the user when they provided their personal information. </p>
      <p>The  personal information is collected with the users consent in that they  must click on a button provided on each web page to submit their  information to 1300 PLUMBER.</p>
      <p>If personal information changes,  it may be corrected by sending an email message to  info@1300plumber.net.au and putting &quot;info change&quot; in the subject line of  the message. Users should note that when they provide data to  1300 PLUMBER, including data entered by them on the website, 1300 PLUMBER  relies on the accuracy of that data. </p>
      <h3>Communication</h3>
      <p>From  time to time 1300 PLUMBER sends out informational communications relying  on personal information it has collected. Users have the option of  indicating their desire to not receive this type of communication by  emailing us on info@1300plumber.net.au.</p>
      <h3>Non-Personal</h3>
      <p>Current technology allows tracking of other information originating from       an Internet Service Provider, or another originating network component.       This information includes the user IP address and domain information.</p>
      <p>1300 PLUMBER  uses a specialised reporting program to record this data when a user  visits our sites. This information is only used to provide aggregate  statistical information to help us keep the site functional and  responsive, and to determine overall visitor usage patterns. The  information is not used to try and identify specific individuals, or  track an individual's navigation through the site. </p>
      <h3>Contact</h3>
      <p> If users have any questions about this privacy policy, or other parts  of this website, we can be reached via email at  info@1300plumber.net.au, or you can contact us on 1300 697 267. Any  changes to our privacy policy will be posted at this location.</p> 

      
    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findplumber' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
    </section>


</div>    

<%= render 'promotion' %>