<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <span style="float: left;margin-right:2em;"> 
        <img src="/assets/imgRefund.jpg"/>
        
      </span>

      <p><h3>Lost or damaged advertising materials</h3><br />

      1300 PLUMBER guarantees to replace any advertising materials that become lost or damaged during the delivery period. You must notify 1300 PLUMBER of the damage within 3 days of the items being delivered / or the loss within 7 days of the expected delivery time, we will immediately re-deliver those goods at no charge.</p>


      <p><h3>Faulty advertising materials - free delivery both ways!</h3><br />

      1300 PLUMBER provides a 'fault free' satisfaction guarantee for all advertising materials supplied. Should any of your advertising materials appear faulty, please contact us within 7 days and we will re-deliver the items at no charge.  </p>


      <p><h3>Change of mind for advertising materials order</h3><br />

      1300 PLUMBER will accept and pay for the return of advertising materials that we have incorrectly supplied, provided your purchase order shows different advertising materials to the items supplied.</p>


      <p>As 1300 PLUMBER is a high volume and low margin retailer, we don't accept the return of advertising materials that have been either incorrectly ordered or are no longer wanted.</p>


      <p><h3>Change of mind for post code subscription areas</h3><br />

      Each subscriber enters into a licensing agreement for an agreed period of time with 1300 PLUMBER. We will only issue a refund outside of our licensing agreement at our discretion.</p>

      <br />

      <p><h3>DELIVERY INSTRUCTIONS & TURNAROUND TIMES</h3><br />


      <p><h3>Turnaround Times</h3><br />

      Once a subscriber agrees to the terms & conditions of the licensing agreement, 1300 PLUMBER will deliver the service and make it available within 21 working days. </p>


      <p><h3>Delivery Instructions</h3><br />
      If an advertising kit is ordered, the turnaround time is between 7 - 10 working days. The kit will be delivered by courier to your door Australia wide.</p>



      
     
      
    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findplumber' %> <br />
      <%= render 'howitworksIVR' %> <br />
      <%= render 'customerfeedback' %> <br />
      <%= render 'customerfeedback' %>
    </section>


</div>    

<%= render 'promotion' %>