<div class="group">
    <article id="intro" style="width:90%;padding-top:1.5em">
      <h2>Listing users</h2>

      <table>
        <tr>
          <th>Title</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company</th>
          <th>Address</th>
          <th>State</th>
          <th>Postcode</th>
          <th>Business Phone</th>
          <th>Mobile</th>
          <th>How Find Us</th>
          <th>User e-mail</th>    
          <th>User Type</th>
          <th>Remember Me</th>
          <th>Enabled</th>
          <th>Request reset</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.title %></td>
          <td><%= user.firstName %></td>
          <td><%= user.lastName %></td>
          <td><%= user.company %></td>
          <td><%= user.address %></td>
          <td><%= user.state %></td>
          <td><%= user.postcode %></td>
          <td><%= user.officePhone %></td>
          <td><%= user.mobile %></td>
          <td><%= user.howFind %></td>
          <td><%= user.email %></td>
          <td><%= user.userType %></td>
          <td><%= user.remember %></td>
          <td><%= user.enabled %></td>
          <td><%= user.reset %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Delete', user, confirm: 'Do you want to delete this user?', method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </article> 
</div>
