


<div class="row-fluid"> 
  <div class="span7" style="padding-left:2em;padding-right:1em;">
    <h3>Register on 1300 PLUMBER</h3>

    <table width="50%" >
      <%= form_for(@user, :html => { :class => "form-horizontal"}) do |f|  %>
        <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <tr> <li style="color:red;"><%= msg %></li> </tr>
              <% end %>
            </ul>

        <% end %>

        <tr>
          <td><%= f.label 'e-mail address' %></td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label 'Password' %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td><%= f.label 'Confirm Password', "Confirmation" %></td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <td></td>
          <td align="center"><%= submit_tag 'Sign Up', :name =>'signup'%></td>
        </tr>        
      <% end %>
    </table>

    
  </div>    
  <%= render 'findplumber' %>

</div>

<%= render 'promotion' %>
