<h1>Listing express_intersts</h1>

<table>
  <tr>
    <th>Created Date Time</th>
    <th>Email</th>
    <th>Postcode</th>
    <th>Status</th>
    <th>Available</th>  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expressIntersts.each do |express_interst| %>
  <% if express_interst %>
    <tr>
      <td><%= express_interst.created_at %></td>
      <td name="email"><%= express_interst.email %></td>
      <td><%= express_interst.postcode %></td>
      <% if express_interst.results == "A" %>
        <td style="color:green"><%= express_interst.results %></td>
      <% else %>
        <% if express_interst.results == "R" %>
          <td style="color:red"><%= express_interst.results %></td>
        <% else %>
          <td><%= express_interst.results %></td>
        <% end %>
      <% end %>
      <% if express_interst.results == "P" %>
        <% if express_interst.available == "Available" %>
          <td style="color:green"><%= express_interst.available %></td>
        <% else %>
          <td style="color:red"><%= express_interst.available %></td>
        <% end %>   

        <td><%= link_to 'Approve', approve_path(postcode: express_interst.postcode, email: express_interst.email),  method: :post%></td>
        <td><%= link_to 'Reject', reject_path(postcode: express_interst.postcode, email: express_interst.email),  method: :post %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Express interst', new_express_interst_path %>
