<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @express_interst.email %>
</p>

<p>
  <b>Postcode:</b>
  <%= @express_interst.postcode %>
</p>


<%= link_to 'Edit', edit_express_interst_path(@express_interst) %> |
<%= link_to 'Back', express_intersts_path %>
