<h1>Postcode Cart View</h1>


<table>
  <tr>
    <th>Postcode</th>
    <th>Near Postcodes</th>
    <th>Price</th>
    <th>Available to Buy</th>
    <th>Max Number of Plumbers</th>
    <th>Remaining Slots</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% logger.debug "inside view sanj #{@postcodes}" %>
<% @postcodes.each do |postcode| %>
  <tr>
    <td width="7%"><%= postcode.postcode %></td>
    <td width="51%"><%= postcode.nearPostcodes %></td>
    <td width="7%"><%= postcode.price %></td>
    <td width="7%"><%= postcode.isAvailable %></td>
    <td width="7%"><%= postcode.maxLimit %></td>
    <td width="7%"><%= postcode.availableLimit %></td>
    <td width="7%"><%= link_to 'Update', edit_postcode_path(postcode) %></td>
    <td width="7%"><%= link_to 'Delete', postcode, confirm: 'Do you want to delete this postcode?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Postcode', admin_postcode_new_path %>
