<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
    	<p id="notice"><%= notice %></p>
		<% if flash[:alert] %>
			<p id="notice"><%= flash[:alert] %></p>
		<% end %>

		<%= form_tag("/login", :method => "post") do %>
		
		<table>
			<tr>
				<td>New User ? </td>
				<td style="font-size: 100%;font-family: verdana;border: 0px white outset;background: -webkit-gradient(linear,right top,left bottom,from(#020202),to(#3CCCFA));font-weight: bold;padding: 2px 29px;color:white;"><a href="/newuser"> Sign Up Now!</a><td>
			</tr>
			<tr>
				<td><%= label_tag :email, 'Email' %></td>
				<td><%= text_field_tag :email, params[:email] %></td>
				<td><%= submit_tag "Forgot Password?", :name =>'forgot' %></a></td>
			</tr>
			<tr>
				<td><%= label_tag :password, 'Password' %></td>
				<td><%= password_field_tag :password, params[:password] %></td>
			</tr>
			<tr>
				<td><%= submit_tag "Sign In", :name =>'signin' %></td>				
			</tr>

			
		</table>
		<% end %>
	</article>    

  <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findplumber' %>
  </section>

</div>

<%= render 'promotion' %>
