<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
    	<p id="notice"><%= notice %></p>
		<% if flash[:alert] %>
			<p id="notice"><%= flash[:alert] %></p>
		<% end %>

		<%= form_tag("/changepassword", :method => "post") do %>
		
		<table>
			<tr>
			  <td><%= label_tag :oldpassword, 'Current Password' %></td>
			  <td><%= password_field_tag :oldpassword, params[:oldpassword] %></td>
			</tr>
			<tr>
	          <td><%= label_tag 'New Password' %></td>
	          <td><%= password_field_tag :password %></td>
	        </tr>
	        <tr>
	          <td><%= label_tag 'Confirm New Password', "Confirmation" %></td>
	          <td><%= password_field_tag :password_confirmation %></td>
	        </tr>
			<tr>
				<td><%= submit_tag "Change Password", :name =>'changepassword' %></td>				
			</tr>

			
		</table>
		<% end %>
	</article>    

  <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findplumber' %>
  </section>

</div>

<%= render 'promotion' %>
