<%= form_for(@postcode) do |f| %>
  <% if @postcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postcode.errors.count, "error") %> prohibited this postcode from being saved:</h2>

      <ul>
      <% @postcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <td width="40%" align="right"><%= f.label 'Postcode' %></td>
    <td width="40%" align="left"><%= f.text_field :postcode%></td>
  </tr>
  <tr>
    <td width="40%" align="right" ><%= f.label 'Near Postcodes(Separated by space)' %></td>
    <td align="left"><%= f.text_field :nearPostcodes%></td>
  </tr>
  <tr>
    <td width="40%" align="right" ><%= f.label 'Selling Price' %></td>
    <td align="left"><%= f.text_field :price %></td>
  </tr>
  <tr>
    <td width="40%" align="right" ><%= f.label 'Available to Buy' %></td>
    <td align="left"><%= f.check_box :isAvailable%></td>
  </tr>
  <tr>
    <td width="40%" align="right" ><%= f.label 'Max Number of Plumbers' %></td>
    <td align="left"><%= f.select :maxLimit, [[1,1], [2, 2], [3, 3], [4, 4]]%></td>
  </tr>
  <tr>
    <td width="40%" align="right" ><%= f.label 'Available Limit' %></td>
    <td align="left"><%= f.select :availableLimit, [[1,1], [2, 2], [3, 3], [4, 4]]%></td>
  </tr>
  <tr>
    <td width="40%" align="right"> </td>
    <td align="left"><%= f.submit %></td>
  </tr>
</table>
<% end %>
