<%= form_for(@postcode) do |f| %>
  <% if @postcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postcode.errors.count, "error") %> prohibited this postcode from being saved:</h2>

      <ul>
      <% @postcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Postcode' %><br />
    <%= f.number_field :postcode, :value => 3000, :in => 1000...10000%>
  </div>
  <div class="field">
    <%= f.label 'Selling Price' %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label 'Available to Buy' %><br />
    <%= f.number_field :isAvailable, :value => 1, :in => 0...2%>
  </div>
  <div class="field">
    <%= f.label 'Max Number of Plumbers' %><br />
    <%= f.number_field :maxLimit, :value => 1, :in => 1...11%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
