<h2>Express	 of Intrest</h2>

<div class="group" style="border-right-color:black;">

    <article id="intro" style="width:30%;">
    	<% if @initSetup > 0 %>
	    	<% if @carts %>
		      <table>
		      	<tr>
			      	<th>Postcode</th>
			      	<th>One off setup Fee</th>
					<th>Price/Month</th>
					<th></th>
				</tr>
				<% @carts.each do |ct| %>
					<% if ct %>
						<tr>
							<td width="20%" id="postcode"><%= ct.postcode %></td>						
							<td width="30%" id="setupfee">$<%= ct.cart_id %></td>
							<td width="30%" id="price">$<%= ct.price %></td>
							<td width="40%">
					    		<a href='/removeCartItem?pc=<%= ct.postcode %>'><img style="height:30%;width:30%" src="assets/imgRemoveCart.png" /></a>
					    	</td>
						</tr>
					<% end %>
				<% end %>
					<tr>
						<td><b> Total </b></td>
						<td><b> $<%= @initSetup %> </b></td>
						<td><b> $<%= @perMonth %> </b></td>
					</tr>	
					<tr>
						<% if session[:email] %>
							<td colspan="2" align="right"><%= button_to 'Express Intrest', submitCart_path %></td>
						<% else %>
							<td align="right"><%= button_to 'Express Intrest', login_path %></td>
						<% end %>
					</tr>
		      </table>
		      <% else %>
		      	<h3> Your Cart is empty. Please you search to find postcode</h3>
		    <% end %>
		<% else %>
			<h3> Your Cart is empty.</h3>
	    <% end %>
    </article>

    <section id="demo" style="width:55%;">
	      <div class="group">

		    <article id="intro" style="width:50%;">
		    	<% if @postcodes %>
			      <table>
				  	<tr>
				    	<th>Postcode</th>
				    	<th>Price per Month</th>
				    	<th>Availablity</th>
				    	<th></th>
				  	</tr>
					<% @postcodes.each do |pc| %>
						<% if pc %>
						  <tr>

						    <td width="20%" id="postcode"><%= pc.postcode %></td>
						    <td width="30%" id="price">$<%= pc.price %></td>
						    <td width="20%">
						    	<% if pc.isAvailable == 1 %>
						    		<span style='color:green;font-weight:bold;'>Available</span>
						    	<% else %>
						    		<span style='color:red'>Not Available</span>
						    	<% end %>
						    </td>
						    <% if pc.isAvailable == 1 %>
						    	<td width="40%">
						    		<a href='/addCartItem?pc=<%= pc.postcode %>'><img style="height:30%;width:30%" src="assets/imgAddCart.png" /></a>
						    	</td>
						    <% end %>

						  </tr>
					  	<%end %>
					<% end %>
				  </table> 
				<% else %>
					<h3> No postcode search. Use File postcode search to select find postcode</h3>
				<% end %>
		    </article>

		    <section id="demo" style="width:30%;">
		      <%= render 'findpostcode' %>
		    </section>


		</div>    




    </section>


</div>   

<%= render 'promotion' %> 















