<h1>Postcode Admin View</h1>


<table>
  <tr>
    <th>Postcode</th>
    <th>Near Postcodes</th>
    <th>Price</th>
    <th>Available to Buy</th>
    <th>Max Number of Plumbers</th>
    <th>Remaining Slots</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% logger.debug "NGC by postcode #{@postcodes}" %>
<% if @postcodes.kind_of? (Array) %>
	<% @postcodes.each do |pc| %>
	  <tr>
	    <td width="7%"><%= pc.postcode %></td>
	    <td width="51%"><%= pc.nearPostcodes %></td>
	    <td width="7%"><%= pc.price %></td>
	    <td width="7%"><%= pc.isAvailable %></td>
	    <td width="7%"><%= pc.maxLimit %></td>
	    <td width="7%"><%= pc.availableLimit %></td>
	    
	  </tr>
	<% end %>
<% else %>
	<% logger.debug "MRRRR by postcode #{@postcodes}" %>
	<tr>
	    <td width="7%"><%= @postcodes.postcode %></td>
	    <td width="51%"><%= @postcodes.nearPostcodes %></td>
	    <td width="7%"><%= @postcodes.price %></td>
	    <td width="7%"><%= @postcodes.isAvailable %></td>
	    <td width="7%"><%= @postcodes.maxLimit %></td>
	    <td width="7%"><%= @postcodes.availableLimit %></td>
	    
	  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Postcode', admin_postcode_new_path %>
