<p id="notice"><%= notice %></p>

<p>
  <b>Postcode:</b>
  <%= @postcode.postcode %>
</p>

<p>
  <b>Suburb:</b>
  <%= @postcode.suburb %>
</p>

<p>
  <b>Price:</b>
  <%= @postcode.price %>
</p>

<p>
  <b>Isavailable:</b>
  <%= @postcode.isAvailable %>
</p>

<p>
  <b>Maxlimit:</b>
  <%= @postcode.maxLimit %>
</p>


<%= link_to 'Edit', edit_postcode_path(@postcode) %> |
<%= link_to 'Back', postcodes_path %>
