<h3>Hi 1300 PLUMBER, <h3>

<h2>You have received below customer feedback</h2>

<h3 style="color:blue;">Customer Info</h3>
<p>
	Customer Name: 
	<b>	<%= @feedback.custName%> </b>
</p>
<p>
	Address: 
	<b>	<%= @feedback.custAddress%> </b>
</p>
<p>
	Postcode of the Job: 
	<b>	<%= @feedback.jobPostcode%> </b>
</p>

<h3 style="color:blue;">Feedback Details</h3>
<p>
	Please tell us how you found us?
	<b>	<%= @feedback.qut1%> </b>
</p>
<p>
	Arrived when said?
	<b>	<%= @feedback.qut2%> </b>
</p>
<p>
	Kept me Informed?
	<b>	<%= @feedback.qut3%> </b>
</p>
<p>
	Friendly?
	<b>	<%= @feedback.qut4%> </b>
</p>
<p>
	Pricing?
	<b>	<%= @feedback.qut5%> </b>
</p>
<p>
	Neat and Tidy appearance?
	<b>	<%= @feedback.qut6%> </b>
</p>
<p>
	Clean up after job?
	<b>	<%= @feedback.qut7%> </b>
</p>
<p>
	Would you recommend us to a friend / colleague?
	<b>	<%= @feedback.qut8%> </b>
</p>
<p>
	Your Reference Name?
	<b>	<%= @feedback.qut9%> </b>
</p>
<p>
	Your Reference Email/Mobile?
	<b>	<%= @feedback.qut10%> </b>
</p>
<p>
	Please provide any other criticism or compliments and we will be sure to follow it up?
	<b>	<%= @feedback.qut11%> </b>
</p>
<p>
	Comment: 
	<b>	<%= @feedback.comment%> </b>
</p>

<br />
Regards, <br />
1300 PLIMBER IT