<h3> Hi Admin ,</h3>
<p> Plumber <%= @user.title%> <%= @user.firstName%> <%= @user.lastName%> has express of intrest for the postcodes <%= @postcodeList %>. Please review and get back to the plumber as soon as possible. Plumber mobile is <%= @user.mobile%>.</p>

<p>
Thank You <br />
1300 PLIMBER IT
</p>